/* Wrapper utama */
.regSurat {
  max-width: 800px;
  margin: 0rem auto;
  padding: 0rem;
  background-color: #f9f9f9;
  //border-radius: 12px;
  //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI', sans-serif;
}

/* Form label dan input */
.regSurat label {
  display: block;
  //margin-bottom: 1rem;
  font-weight: 500;
  color: #333;
}

.regSurat input {
  //width: 100%;
  //padding: 0.6rem 0.75rem;
  //border: 1px solid #ccc;
  //border-radius: 6px;
  //margin-top: 0.25rem;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.regSurat input:focus {
  border-color: #00796b;
  outline: none;
}

/* Tombol kirim */
.regSurat button[type='submit'] {
  margin-top: 0.1rem;
  padding: 0.5rem 1rem;
  background-color: #00796b;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  margin-bottom: 0.5rem;
  //border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.regSurat button[type='submit']:hover {
  background-color: #004d40;
}

.popup-iframe {
  max-width: 800px; /* Lebar maksimal diperbesar */
  width: 110%;
  margin-left: auto;
  margin-right: auto;
}

.popup-iframe iframe {
  width: 100%;
  height: 150px; /* Tinggi iframe dinaikkan */
  border: none;
}

.popup-iframe h3 {
  font-size: clamp(1.3rem, 1.8vw, 1.6rem);
  margin-bottom: 1rem;
  color: #004d40;
  font-weight: bold;
}

/* Mobile responsif */
@media (max-width: 600px) {
  .popup-iframe {
    padding: 1rem;
  }

  .popup-iframe iframe {
    height: 220px;
  }
}
